@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Parisienne&display=swap');
@import url("components/container.css");
@import url("components/rose.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body{
	background-color: #F2EFEA;
	font-family:'Lora', serif;
	font-size: 18px;
	margin: 0px;
}

h1,h2{
	font-family:'Parisienne',cursive;
	font-weight: bold;
}

h1{
	padding-top: 50px
}

a{
	text-decoration: none;
	font-family: "Lora", serif;
	font-size: 30px;
}

img{
	margin-top:0px;
}